$color-primary-first-tint: #fff;
$color-primary-second-tint: #f8f8f8;
$color-primary-third-tint: #151317;

$color-secondary-first-tint: #808185;

$color-accent-first-tint: #512689;

$color-error: #ff6161;
