$font-size-xxxl: 6.4rem;
$font-size-xxl: 3.6rem;
$font-size-xl: 3.2rem;
$font-size-l: 2rem;
$font-size-m: 1.6rem;
$font-size-s: 1.4rem;
$font-size-xs: 1rem;

$line-height-xxl: 136%;
$line-height-default: 110%;
