@import '../../../styles/abstracts/variables/fonts.scss';
@import '../../../styles/abstracts/variables/colors.scss';
@import '../../../styles/abstracts/variables/wrappers.scss';
@import '../../../styles/abstracts/mixins.scss';

.member {
  display: flex;
  align-items: center;
  column-gap: 32px;
  grid-area: content;
  padding-top: 7px;
}

.avatar {
  width: 187px;
  height: 187px;

  object-fit: cover;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.heading {
  @include render-font(
    $size: $font-size-xxxl,
    $color: $color-primary-first-tint
  );
}

.subheading {
  @include render-font($size: $font-size-xl, $color: $color-primary-first-tint);
}

.wrapper {
  display: flex;
  column-gap: 129px;
  max-width: $wrapper-secondary-desktop;
  margin: 0 auto;
  padding: 49px 0 314px;

  @include render-font($line-height: $line-height-xxl);
}

.description {
  max-width: 630px;

  white-space: pre-wrap;
}

.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.contact {
  display: flex;
  align-items: center;
  column-gap: 8px;

  color: inherit;
}
